<nav id="monnav" class="menuseb">
    <ul id="menu-accordeon" >
        <li><a href="index.php?controller=page&action=loadAccueil&nomPage=Accueil">accueil</a></li>
        <li><a href="#">les gîtes</a>
            <ul>
                <li><a href="index.php?controller=page&nomPage=Banne">la Banne</a></li>
                <li><a href="index.php?controller=page&nomPage=Sancy">le Sancy</a></li>
                <li><a href="index.php?controller=page&nomPage=GrandGite">Banne-Sancy</a></li>
                <li><a href="index.php?controller=page&nomPage=LesPlus">les plus</a></li>
            </ul>
        </li>
        <li><a href="#">nos valeurs</a>
            <ul>
                <li><a href="index.php?controller=page&nomPage=CorpsEtEsprit">corps et esprit</a></li>
                <li><a href="index.php?controller=page&nomPage=NatureEtCulture">nature et culture</a></li>
            </ul>
        </li>
        <li><a href="#">réservations</a>
            <ul>
                <li><a href="index.php?controller=page&action=loadPlanning&gite=Sancy">Planning Le Sancy</a></li>
                <li><a href="index.php?controller=page&action=loadPlanning&gite=Banne">Planning La Banne</a></li>
                <li><a href="index.php?controller=page&action=loadPlanning&gite=GrandGite">Planning Banne-Sancy</a></li>
                <li><a href="index.php?controller=page&action=loadTarifsGites&nomPage=TarifsGites">Tarifs des gîtes</a></li>
                <li><a href="index.php?controller=page&action=loadSupplements&nomPage=TarifsSupplements">Prestations</a></li>
            </ul>
        </li>
        <li><a href="#">à voir, à faire</a>
            <ul>
                <li><a href="index.php?controller=page&nomPage=presentationGenerale">présentation</a></li>
                <li><a href="index.php?controller=page&nomPage=sitesRandonnee">randonnée</a></li>
                <li><a href="index.php?controller=page&nomPage=ski">le ski</a></li>
                <li><a href="index.php?controller=page&nomPage=sitesCulturels">sites culturels</a></li>
                <li><a href="index.php?controller=page&nomPage=thermalisme">thermalisme</a></li>
                <li><a href="index.php?controller=page&nomPage=agriculture">agriculture</a></li>
                <li><a href="index.php?controller=page&nomPage=adrenaline">adrénaline</a></li>
                <li><a href="index.php?controller=page&nomPage=adresses">bonnes adresses</a></li>
            </ul>
        </li>
    </ul>
</nav>